@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
  font-family: 'Fira Code', monospace;
  color: white;
}

html {
  --background-spacing: 30px;
  --background-rotate-right: 45deg;
  --background-rotate-left: -45deg;
  --background-thickness: 5px;
  
  position: absolute;
  display: flex;
  background: black;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

html::before {
  position: fixed;
  content: "";
  width: 100%;
  z-index: -100;
  height: 100%;
  background: repeating-linear-gradient( var(--background-rotate-right), #111, #111 var(--background-thickness), rgba(0, 0, 0, 0) var(--background-thickness), rgba(0, 0, 0, 0) var(--background-spacing) );
}

html::after {
  content: "";
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient( var(--background-rotate-left), #111, #111 var(--background-thickness), rgba(0, 0, 0, 0) var(--background-thickness), rgba(0, 0, 0, 0) var(--background-spacing) );
}

div {
  border-radius: 10px;
  padding: 10px;
}

.title {
    position: absolute;
    top: calc(50vh - 7rem);
    left: calc(50vw - 15rem);
    animation: top-left 3s 2s forwards;
    font-size: 5rem;
    z-index: 100;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content {
  opacity: 0%;
  animation: fade-in 2s 5s forwards;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 96vw;
  height: 96vh;
}

.content > .top {
  background-color: rgb(87, 87, 87);
  align-self: flex-start;
  padding-left: 15rem;
  width: 100%;
  font-size: 1.5rem;
}

.content > .top > * {
  margin: 13px;
}

@keyframes top-left {
    to {
        top: 15px;
        left: 50px;
        font-size: 2rem;
    }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}